version: '3.8'

services:
  postgres:
    image: postgres:14
    container_name: webflux-postgres-db
    restart: unless-stopped

    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: webflux-postgres-db

    ports:
      - "5441:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: